* {
  box-sizing: border-box; }

body {
  background: #D7D7D7;
  color: #0B181D; }

.color_red {
  color: #cd3838 !important; }

.color_blue {
  color: #24679e !important; }

.color_green {
  color: #2ad062 !important; }

span.red {
  color: #cd3838;
  border-bottom: #cd3838; }

span.green {
  color: #2ad062;
  border-bottom: #2ad062; }

.error {
  width: 100%;
  z-index: 999999;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  height: 40px;
  background: #e24343;
  border-color: #700b0b;
  transition: height 200ms; }
  .error.no-err {
    height: 0; }

body > .content {
  width: 100%;
  height: calc(100% - 82px);
  position: absolute;
  overflow: hidden; }

.hide {
  display: none; }

.icon {
  display: inline-block;
  margin-top: 5px;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-more_vert {
  margin: 0; }

.separator {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #c6c6c6;
  border-left: none;
  border-right: none;
  background: #F1F1F1;
  margin: 0; }

header,
.header {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  padding: 0;
  width: 100%; }
  header .btn,
  .header .btn {
    min-height: 40px; }

.btn {
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 7px;
  background: #6494cc; }
  .btn.yellow {
    background: #F4EA84;
    color: #0B181D; }
    .btn.yellow:hover {
      background: #F5C367; }
  .btn.btn-green {
    background: #6db93f; }
    .btn.btn-green:hover {
      background: #3a860c; }
  .btn.btn-red {
    background: #d53e3e; }
    .btn.btn-red:hover {
      background: #a20b0b; }
  .btn:hover {
    background: #4272aa; }
  .btn.full {
    display: block;
    width: 100%; }
  .btn.sticky {
    position: absolute;
    height: 100%;
    top: 0; }
    .btn.sticky.right {
      right: 0; }
    .btn.sticky.left {
      left: 0; }
  .btn.transparent {
    background: transparent;
    color: #0B181D; }
    .btn.transparent:hover {
      background: rgba(0, 0, 0, 0.1); }

body > .tools {
  width: 100%;
  height: 42px;
  padding: 5px;
  background: #fff;
  border: 1px solid #c6c6c6;
  text-align: center; }
  body > .tools .btn {
    min-width: 21%;
    display: inline-block;
    margin-right: 1%; }
    body > .tools .btn.select {
      background: #a8d8ff; }

.adress_bar {
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #c6c6c6; }
  .adress_bar .adress-input {
    width: 75%;
    height: 30px;
    margin: 5px;
    padding: 0 5px;
    float: left; }
  .adress_bar .btn-adress {
    width: calc(25% - 15px);
    height: 30px;
    padding: 5px;
    float: left;
    margin: 5px 5px 5px 0;
    border: none;
    font-size: .8em; }

.prognose {
  display: flex;
  flex-flow: column nowrap;
  font-size: 14px; }

.bottom {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%; }

.field {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden; }
  .field.bad:after {
    content: "!";
    display: flex;
    align-items: center;
    height: 100%;
    color: #d93636;
    position: absolute;
    top: 0px;
    right: 15px; }
  .field label {
    display: inline-flex;
    flex: 1;
    padding: 2px;
    min-width: 100px;
    margin: 0; }
  .field select, .field input {
    display: inline-flex;
    flex: 2;
    min-width: 200px;
    border: 1px solid #aaa;
    background: #fff;
    padding: 5px; }
    .field select.good, .field input.good {
      border: 1px solid #48B647;
      box-shadow: 0 0 5px #48B647; }
    .field select.warn, .field input.warn {
      border: 1px solid #b2d245;
      box-shadow: 0 0 5px #b2d245; }
    .field select.bad, .field input.bad {
      border: 1px solid #d93636;
      box-shadow: 0 0 5px #d93636; }
      .field select.bad:after, .field input.bad:after {
        content: "!";
        display: block;
        color: #E00D0D;
        position: absolute;
        left: 100%; }

.add_graph {
  transition: 200ms;
  position: absolute;
  z-index: 100;
  top: 30px;
  background: #fff;
  width: 100%;
  height: calc(100% - 40px); }
  .add_graph.show {
    left: 0; }
  .add_graph.close {
    left: 100%; }
  .add_graph .field {
    width: 100%;
    padding: 10px; }
    .add_graph .field label {
      padding: 2px;
      margin-right: 20px; }
    .add_graph .field select {
      width: 150px; }

.graphs {
  width: calc(50% - 145px);
  height: 100%;
  position: absolute;
  right: 0;
  background: #fff;
  border-left: 1px solid #c6c6c6;
  transition: all 250ms;
  overflow: hidden; }
  .graphs header {
    background: #F1F1F1;
    border-bottom: 1px solid #c6c6c6;
    height: 25px; }
    .graphs header .tools .btn {
      height: 25px;
      padding: 0px 5px;
      line-height: 24px;
      background: transparent;
      color: #0B181D; }
      .graphs header .tools .btn span {
        float: left;
        padding: 0 1px; }
      .graphs header .tools .btn:hover {
        background: #cfcfcf; }
  .graphs .content {
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    height: calc(100% - 25px);
    overflow-y: scroll; }
  .graphs .graph {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 15px; }
    .graphs .graph .rg-bottom {
      bottom: 20px; }
  .graphs.close {
    right: 100%; }
  .graphs.show {
    right: 0; }

.user_list {
  min-width: 145px;
  width: 175px;
  height: 100%;
  position: absolute;
  float: left;
  border-right: 1px solid #c6c6c6;
  background: #fff;
  overflow: hidden;
  text-align: left; }
  .user_list .editMenu {
    position: absolute;
    top: 0;
    background: #fff;
    width: calc(100% - 20px);
    transition: left .3s; }
    .user_list .editMenu .btn {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 5px 0px; }
      .user_list .editMenu .btn .icon {
        width: .8em;
        height: .8em; }
    .user_list .editMenu.close {
      left: 100%; }
    .user_list .editMenu.show {
      left: 0; }
  .user_list .wrapper > .header {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #c6c6c6; }
  .user_list .ui.list {
    position: absolute;
    font-size: .9em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    text-align: left; }
    .user_list .ui.list .item {
      position: relative;
      padding: 5px;
      transition: all .2s; }
      .user_list .ui.list .item:hover {
        background: #E1E7E1; }
      .user_list .ui.list .item.select {
        background: #DEDEED; }
  .user_list .wrapper > .footer {
    width: 100%;
    height: 25px;
    font-size: .8em;
    text-align: center;
    background: gainsboro;
    border-top: 1px solid #c6c6c6;
    position: absolute;
    bottom: 0; }
    .user_list .wrapper > .footer span {
      display: block;
      float: left;
      width: 75%;
      line-height: 23px; }
    .user_list .wrapper > .footer .nav {
      width: 10%; }

.wrapper header {
  width: 100%;
  padding: 10px;
  background: #F1F1F1;
  border-bottom: 1px solid #c6c6c6; }

.details {
  width: calc('100% - 175px');
  margin-left: 175px;
  padding: 10px;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  transition: all .25s; }
  .details .mes-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 210px;
    color: #626262; }
    .details .mes-info .message {
      margin-top: 30px;
      font-size: 25px; }
  .details.full {
    width: calc(100% - 175px); }
    .details.full .mes-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      background: transparent;
      font-size: 210px;
      color: #626262; }
      .details.full .mes-info .message {
        margin-top: 30px;
        font-size: 25px; }
  .details .wrapper {
    width: 100%;
    background: #fff;
    border: 1px solid #c6c6c6; }
  .details header {
    width: 100%;
    padding: 10px;
    background: #F1F1F1;
    border-bottom: 1px solid #c6c6c6; }
  .details .content {
    /*padding: 10px ;*/ }
  .details table {
    width: 100%;
    /*margin: 1em 0em;*/
    box-shadow: none;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px; }
    .details table.bordered {
      /*border: $border_settings;*/ }
      .details table.bordered tr td {
        border-top: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6; }
      .details table.bordered tr:first-child td {
        border-top: none; }
      .details table.bordered td:last-child {
        border-right: none; }
    .details table tr {
      width: 100%;
      height: 25px;
      border-top: 1px solid rgba(34, 36, 38, 0.1); }
      .details table tr td {
        min-width: 100px;
        vertical-align: top;
        padding: 10px; }

.side_window {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  transition: left .25s; }
  .side_window .mes-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 210px;
    color: #626262; }
    .side_window .mes-info .message {
      margin-top: 30px;
      font-size: 25px; }
  .side_window .wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #D7D7D7;
    position: absolute;
    z-index: 20;
    left: 0; }
    .side_window .wrapper > .header {
      min-height: 40px; }
    .side_window .wrapper .header {
      border: 1px solid #c6c6c6; }
    .side_window .wrapper > * {
      display: flex; }
    .side_window .wrapper .content {
      border: 1px solid #c6c6c6;
      border-top: none;
      padding: 10px;
      background: #fff;
      border-top: none;
      border-bottom: none;
      flex: 1;
      flex-flow: column nowrap;
      align-content: center;
      justify-content: space-around;
      overflow-y: scroll; }
    .side_window .wrapper > footer {
      display: flex;
      align-self: flex-end;
      align-items: center;
      padding-left: 10px;
      height: 30px;
      min-width: 100%;
      border-top: 1px solid #c6c6c6;
      background: #F1F1F1;
      font-size: 12px; }
    .side_window .wrapper .footer {
      display: flex;
      flex-flow: row;
      align-items: stretch;
      align-content: stretch;
      height: 40px;
      justify-content: center;
      border: 1px solid #c6c6c6;
      border-top: none; }
      .side_window .wrapper .footer .btn {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center; }
  .side_window.klasters .wrapper {
    padding: 0; }
  .side_window.klasters .user_list {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 1;
    height: auto;
    justify-content: flex-start; }
    .side_window.klasters .user_list > .header {
      min-height: 30px;
      align-items: center;
      justify-content: center; }
      .side_window.klasters .user_list > .header.red {
        background: #e09797; }
      .side_window.klasters .user_list > .header.green {
        background: #85d68e; }
    .side_window.klasters .user_list .ui.list {
      position: relative;
      display: flex;
      flex-flow: column nowrap; }
      .side_window.klasters .user_list .ui.list .item {
        display: flex;
        align-items: center;
        min-height: 35px; }
    .side_window.klasters .user_list > .footer {
      display: flex;
      align-content: flex-start;
      justify-content: space-around;
      width: 100%;
      min-height: 25px;
      height: 25px;
      font-size: .8em;
      background: gainsboro;
      border-top: 1px solid #c6c6c6; }
      .side_window.klasters .user_list > .footer * {
        display: flex;
        align-items: center; }
        .side_window.klasters .user_list > .footer * .icon {
          margin: 0; }
  .side_window.learning .content {
    padding: 0; }
  .side_window.learning header {
    border: 1px solid #c6c6c6;
    border-left: none;
    border-right: none; }
  .side_window.learning table {
    width: 100%; }
  .side_window.learning table tr {
    height: 40px;
    padding: 10px; }
  .side_window.learning table tr td {
    padding: 10px;
    border-bottom: 1px solid #c6c6c6; }
  .side_window.learning .wrapper {
    flex-flow: column nowrap;
    align-items: flex-start; }
    .side_window.learning .wrapper .prognose {
      display: flex;
      flex-flow: column nowrap; }
      .side_window.learning .wrapper .prognose p {
        padding: 10px; }
  .side_window .field {
    width: 100%;
    min-height: 30px;
    padding: 5px; }
  .side_window.close {
    left: 100%; }
  .side_window.show-with-list {
    left: 175px;
    top: 0;
    width: calc(100% - 175px); }
  .side_window.show {
    top: 0;
    left: 0; }
  .side_window.add_client {
    top: 0px; }

/*# sourceMappingURL=style.css.map */
