<div class="wrapper">
	<header>
		<h2>Додавання нового клієнта</h2>
		<a href="#" class="btn" ng-click="toggle_add_user_flag()">Відміна</a>
	</header>
	<div class="content">
		<div class="field">
			<label for="">Ім'я</label>
			<input type="text" placeholder="Ім'я" />
		</div>
		<div class="field">
			<label for="">Прізвище</label>
			<input type="text" placeholder="Прізвище" />
		</div>
		<div class="field">
			<label for="">Вік</label>
			<input type="text" placeholder="Вік" />
		</div>
		<div class="field">
			<label for="">Початок кредиту</label>
			<input type="date" placeholder="Ім'я" />
		</div>
		<div class="field">
			<label for="">Закінчення кредиту</label>
			<input type="date" placeholder="Ім'я" />
		</div>
		<div class="field">
			<label for="">Сумма кредиту</label>
			<input type="numeric" placeholder="10000" />
		</div>
	</div>
</div>