<div class="wrapper">
	<div class="header">
		<span class="btn full" ng-click="doHierarchialClustering()">Згенерувати кластери з якими буде проводитись порівняння</span>
	</div>
	<div class="prognose" ><p ng-bind="hierarchicalMessage"></p></div>
  <div class="content">
		<div class="field">
			<label>Ім’я</label>
			<input type="text" placeholder="Ім’я" ng-model="newClient.name" />
			<a href="" ng-click="randName()" class="btn"><svg class="icon icon-dice"><use xlink:href="#icon-dice"></use></svg></a>
		</div>
		<div class="field">
			<label>Проживання</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.live">
				<option ng-selected="newClient.live === 1" value="1" >аренда</option>
				<option ng-selected="newClient.live === 0.5" value="0.5">муніципальне житло</option>
				<option ng-selected="newClient.live === 0" value="0">власне житло</option>
			</select>
		</div>
		<div class="field">
			<label>Сімейний стан</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.relationship">
				<option ng-selected="newClient.relationship === 0" value="0">одружений(-на)</option>
				<option ng-selected="newClient.relationship === 0.5" value="0.5">не одружений(-на)</option>
				<option ng-selected="newClient.relationship === 1" value="1">розведений(-на)</option>
		</select>
	</div>
		<div class="field">
			<label>Освіта</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.education">
				<option ng-selected="newClient.education === 0" value="0">вищa</option>
				<option ng-selected="newClient.education === 0.5" value=".5">молодший спеціаліст</option>
				<option ng-selected="newClient.education === 1" value="1">середнє</option>
			</select>
		</div>
		<div class="field">
			<label>Кредитна історія</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.creditHistory">
				<option ng-selected="newClient.creditHistory === 0" value="0">позитивна</option>
				<option ng-selected="newClient.creditHistory === .4" value=".4">немає даних</option>
				<option ng-selected="newClient.creditHistory === 1.3" value="1.3">негативна</option>
			</select>
		</div>
		<div class="field">
			<label>Посада</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.post">
				<option ng-selected="newClient.post === 0" value="0">займає керівну посаду</option>
				<option ng-selected="newClient.post === 0.4" value="0.4">рядовий співробітник</option>
				<option ng-selected="newClient.post === 1.2" value="1.2">безробітний</option>
			</select>
		</div>
		<div class="field">
			<label>Термін проживання</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.residence">
				<option ng-selected="newClient.residence === 0" value="0">> 5 років</option>
				<option ng-selected="newClient.residence === 0.3" value="0.3">1-5 років</option>
				<option ng-selected="newClient.residence === 1" value="1">менше року</option>
			</select>
		</div>
		<div class="field">
			<label>Стаж роботи</label>
			<select ng-change="calcHierchial()" name="" ng-model="newClient.exp">
				<option ng-selected="newClient.exp === 0" value="0">> 3 років</option>
				<option ng-selected="newClient.exp === 0.3" value="0.3">1-3 років</option>
				<option ng-selected="newClient.exp === 1.3" value="1.3">менше року</option>
			<!-- tak treba prodaction -->
			</select>
		</div>
		<div class="footer">
			<span class="btn" ng-click="calcHierchial()">Провести перевірку</span>
			<span class="btn yellow" ng-click="addClientToDB()">Додати до бази даних</span>
		</div>
	</div>
</div>
